<form [formGroup]="changePasswordForm" novalidate>
  <div class="form-group">
    <label for="passwordUser">Ingresa una contraseña</label>
    <input type="password" class="uk-input" formControlName="Password" id="passwordUser"
      placeholder="Ingresa tu contraseña" name="passwordUser">
    <div class="uk-text-danger uk-text-small pl-1 uk-padding-remove-bottom"
      *ngIf="(changePasswordForm.get('Password').hasError('required') || changePasswordForm.get('Password').hasError('minlength')) && changePasswordForm.get('Password').dirty">
      No has ingresado una contraseña válida</div>
  </div>
  <div class="form-group">
    <label for="passwordRepeat">Confirma la contraseña</label>
    <input type="password" class="uk-input" formControlName="passwordRepeat" id="passwordRepeat"
      placeholder="Ingresa tu contraseña" name="passwordRepeat">
    <div class="uk-text-danger uk-text-small pl-1 uk-padding-remove-bottom"
      *ngIf="(changePasswordForm.get('passwordRepeat').value != changePasswordForm.get('Password').value) && changePasswordForm.get('passwordRepeat').dirty">
      No coinciden la contraseña y la confirmación</div>
  </div>
  <button *ngIf="!this.showChange" type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid"
    class="btn btn-primary" (click)="changePasswordAction()"
    [disabled]="changePasswordForm.invalid || this.ajax">Cambiar
    contraseña</button>
  <div *ngIf="this.showChange">
    <p class="uk-text-small uk-text-success uk-text-center">Contraseña actualizada</p>
    <button *ngIf=!this.changePage class="btn btn-primary" class="btn btn-primary" (click)="this.tools.nav('login')">Ingresar</button>
  </div>
</form>